<div fxLayoutAlign="end">
  <button mat-button class="backButton"  (click) = "goBack()" >
    <mat-icon class="backIcon">navigate_before</mat-icon>
  </button>
</div>

<mat-toolbar fxLayoutAlign="center">
    <span *ngIf ="this.activatedRoute.snapshot.params.CategoryID == 'people'">
        Characters
      </span>
      <span *ngIf ="this.activatedRoute.snapshot.params.CategoryID != 'people'">
  {{this.activatedRoute.snapshot.params.CategoryID}}
      </span>
</mat-toolbar>

  <div *ngFor = "let n of itemList; let i=index;">
  <mat-card (click) = "selectedItem(i)" >
    <mat-card-content>
      {{n}}
    </mat-card-content>
  </mat-card>
</div>
